html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */

/* Write your css below here */

.container {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background: linear-gradient(to bottom, #d4e4ef, #fff);
    line-height: 1.5;
    display: grid;
    grid-template: "header" 0.5fr "section" 2fr "aside" 1fr "footer" 70px / 1fr;
}

h1,
h2,
h3 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h1 {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: auto 0.6rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

nav {
    background-color: #444;
    color: #fff;
}

nav ul li {
    display: block;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header {
    grid-area: header;
    background: linear-gradient(to bottom, #a7a2a2, #333);
    color: #fff;
}

nav a:hover {
    color: #2ecc71;
}

section {
    grid-area: section;
    background-color: #f5f5f5;
}

section,
aside {
    margin: 0.8rem;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}

section article p,
.lg p {
    margin-bottom: 0.8rem;
}

aside {
    grid-area: aside;
    background-color: #fff;
    font-family: monospace;
    font-size: larger;
}

.links {
    margin: 1rem 0;
}

.links .link {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

a[href^="http"],
span {
    color: #666;
    font-size: 1.3rem;
    text-decoration: none;
    transition: border 0.5s ease-out;
}

a[href^="http"]:hover {
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
    border-bottom: 2px solid #ccc;
}

span, img {
    margin-right: 1rem;
}

.link img:nth-of-type(1) {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: all .09s ease-in; 
}

.link img:nth-of-type(1):hover {
    scale: 1.2;
}


footer {
    grid-area: footer;
    margin-top: 0.8rem;
    padding: 0.8rem;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive Design */

@media only screen and (width >= 768px) {
    .container {
        font-size: 16px;
        grid-template: "header header" 0.5fr "aside section" 2fr "footer footer" 0.5fr / 1fr 2fr;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav {
        background-color: inherit;
    }

    nav ul li {
        padding: 1rem;
        margin-right: 1rem;
        font-size: 1.3rem;
        display: inline-block;
    }
}

@media screen and (width >= 992px) {
    .container {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header header"
            "section aside"
            "footer footer";
    }
}
